/* 불러온 외부 폰트 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
/* 전체 요소에 폰트 적용 */
* {
  font-family: 'Pretendard-Regular';
  font-size: 16px;
  color: #505860;
}

/* 코드 상단바 */
.code-header {
  display: flex;
  align-items: center;
  padding: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #434041;
  border-radius: 8px 8px 0 0;
}
[theme="dark-mode"] .code-header {
  display: flex;
  align-items: center;
  padding: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #d1cfd1;
  border-radius: 8px 8px 0 0;
}
.code-header .btn {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 0 5px;
}
.code-header .btn.red {
  background-color: #F5655B;
}
[theme="dark-mode"] .code-header .btn.red {
  filter: none;
}
.code-header .btn.yellow {
  background-color: #F6BD3B;
}
[theme="dark-mode"] .code-header .btn.yellow {
  background-color: #836010;
}
.code-header .btn.green {
  background-color: #43C645;
}
[theme="dark-mode"] .code-header .btn.green {
  background-color: #258f26;
}

#copy-button {
  padding: 4px 8px;
  margin-left: auto; /* 버튼을 오른쪽으로 이동시킵니다 */
}


/*----------- 코드 상단바 ---------*/

/* 코드 스타일 부분 */
.font-mono {
  font-family: monospace;
}

.text-base {
  font-size: 1rem;
}

.bg-transparent {
  background-color: #f2f2f7;
  border-radius: 0px 0px 10px 10px;
}
[theme="dark-mode"] .bg-transparent {
  background-color: #dbdbde;
}
/* -------- 코드 스타일 부분 * ----------/


pre::after {
  content: attr(data-ke-language);
  position: absolute;
  bottom: 8px;
  right: 12px;
  color: #cfd2d1;
  font-size: 12px;
}


/* 다크모드 */
body {
  background-color: rgb(255, 255, 255);
}
[theme="dark-mode"] body {
  background-color: rgb(19, 19, 19);
  filter: invert(100%) hue-rotate(180deg);
}

[theme="dark-mode"] #myCard,
[theme="dark-mode"] #myCardBody {
  background-color: rgb(236, 236, 236);
}

[theme="dark-mode"] img {
  filter: invert(100%) hue-rotate(180deg);
}



.switch {
  position: relative;
  width: 60px;
  height: 34px;
  margin-left: 30px;
}
.switch input {
  display: none;
}
.slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  cursor: pointer;
  background-color: gray;
  border-radius: 34px;
  transition: 0.4s;
}
/* ! */
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(236, 228, 228);
  transition: 0.5s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: rgb(58, 58, 62);
}
input:checked + .slider::before {
  /* ! */
  transform: translateX(26px);
}
/* // 다크모드 영역 */

#menu-button {
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  background-color: #8d9299;
  -webkit-mask-image: url("../img/icon/icon-dropdown-menu.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/icon/icon-dropdown-menu.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}
#menu-button:hover, #menu-button.active {
  background-color: #121314;
}

#search-button {
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  background-color: #8d9299;
  -webkit-mask-image: url("../img/icon/icon-search.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/icon/icon-search.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}
#search-button:hover, #search-button.active {
  background-color: #121314;
}

.search-inp-btn {
  width: 1.3125rem;
  height: 1.3125rem;
  display: flex;
  align-items: center;
  background-color: #d9dbe0;
  -webkit-mask-image: url("../img/icon/icon-search.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/icon/icon-search.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}
@media screen and (min-width: 768px) {
  .search-inp-btn {
    background-color: #47494d;
  }
}
.search-inp-btn:hover, .search-inp-btn.active {
  background-color: #47494d;
}

.reset-inp-btn {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  background-color: #d9dbe0;
  border-radius: 50%;
}
.reset-inp-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #f3f5fa;
  -webkit-mask-image: url("../img/icon/icon-X.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/icon/icon-X.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}
.reset-inp-btn:hover, .reset-inp-btn.active {
  background-color: #47494d;
}

#copy-button {
  width: 2.625rem;
  height: 2.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#copy-button:hover::after, #copy-button.active::after {
  background-color: #121314;
}
#copy-button::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #8d9299;
  -webkit-mask-image: url("../img/icon/icon-copy.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/icon/icon-copy.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}

#aside-button {
  margin-left: auto;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
#aside-button:active, #aside-button:focus {
  outline: none;
}
#aside-button::after {
  content: "";
  width: 24px;
  height: 24px;
  margin: 13px;
  border: 1px solid red;
  background-color: #47494d;
  -webkit-mask-image: url("../img/icon/icon-chapter.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/icon/icon-chapter.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}

.active #aside-button::after {
  background-color: #8d9299;
  -webkit-mask-image: url("../img/icon/icon-side-close-right.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/icon/icon-side-close-right.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}

#page-prev {
  display: flex;
}
#page-prev::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #8d9299;
  -webkit-mask-image: url("../img/icon/icon-prev.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/icon/icon-prev.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}
#page-prev:hover::after {
  background-color: #47494d;
  -webkit-mask-image: url("../img/icon/icon-prev.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/icon/icon-prev.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}
#page-prev:disabled::after {
  background-color: #d9dbe0;
  -webkit-mask-image: url("../img/icon/icon-prev.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/icon/icon-prev.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}

#page-next {
  display: flex;
}
#page-next::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #8d9299;
  -webkit-mask-image: url("../img/icon/icon-next.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/icon/icon-next.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}
#page-next:hover::after {
  background-color: #47494d;
  -webkit-mask-image: url("../img/icon/icon-next.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/icon/icon-next.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}
#page-next:disabled::after {
  background-color: #d9dbe0;
  -webkit-mask-image: url("../img/icon/icon-next.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../img/icon/icon-next.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}/*# sourceMappingURL=style.css.map */